@import 'style/variables';

.Convertation {
  display: flex;
  justify-content: center;

  &__form {
    display: flex;
    width: max-content;
    margin-right: $size * 2;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    margin-right: $size;
  }

  &__select {
    min-width: 30%;
  }
}
